asn1crypto==0.24.0
configparser==3.5.0b2
cryptography==2.3
entrypoints==0.3
enum34==1.1.6
flake8==3.6.0
idna==2.6
ipaddress==1.0.17
keyring==17.1.1
keyrings.alt==3.1.1
mccabe==0.6.1
olefile==0.46
Pillow==6.2.0
PyBluez==0.22
pycodestyle==2.4.0
pycrypto==2.6.1
pycryptodomex==3.6.1
pyflakes==2.0.0
PyGObject==3.32.0
pyxdg==0.25
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
vboxapi==1.0
